@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    height: 100%;
    font-size: 17px;
    line-height: 1.5em;
}

/* IMAGES - SPAN */

.imagem-1, .imagem-2, .imagem-3, .imagem-4{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.75;
}

.imagem-1{
    background-image: url(../images/paisagem.jpg);

}

.imagem-2{
    background-image: url(../images/paisagem1.jpg);
}

.imagem-3{
    background-image: url(../images/paisagem2.jpg);
}

.imagem-4{
    background-image: url(../images/paisagem3.jpg);
}

.border{
    padding: 20px;
    background-color: #000;
    
}


.first-text{
    position: absolute;
    top: 50%; /*top:positon property*/
    letter-spacing: 0.5 rem;
    color: aliceblue;
}
/* SECTION BETWEEN IMAGES */

section{
    background-color: #000;
    color:#fff;
    text-align: center;
    height: 50%;
    padding: 20px;
}

